@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="tab-content">
    <div id="login" class="tab-pane active">
        <center><label class="control-label" style="color:red">@ViewBag.error</label></center>
        <form action="~/Account/Login" method="post" class="form-signin">
            <p class="text-muted text-center btn-block btn btn-primary btn-rect" style="margin-bottom:10px">
                Nhập email và mật khẩu
            </p>
            <input type="text" name="email" placeholder="Email" class="form-control" required="required" style="margin-bottom:10px" />
            <input type="password" name="password" placeholder="Mật khẩu" class="form-control" required="required" style="margin-bottom:10px" />
            <center><button class="btn text-muted text-center btn-danger" type="submit" style="margin-bottom:10px">Đăng nhập</button></center>
        </form>
    </div>
</div>
