<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title</title>
    <!-- global styles -->
    <link rel="stylesheet" href="~/Content/admin/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/admin/plugins/Font-Awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/admin/plugins/magic/magic.css" />
    <link rel="stylesheet" href="~/Content/admin/css/error.css" />
    <!-- end global style -->
</head>
<body>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            @RenderBody()
        </div>
    </div>
</body>
</html>
