
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="logo">
    <h1>Error 404!</h1>
</div>
<p class="lead text-muted">Nope, What You Looking is Not here.</p>
