
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <a class="quick-btn" href="~/Products">
        <i class="icon-check icon-2x"></i>
        <span> Sản phẩm</span>
    </a>

    <a class="quick-btn" href="~/TopicDetails">
        <i class="icon-envelope icon-2x"></i>
        <span>Phản hồi</span>
    </a>

    <a class="quick-btn" href="~/SendMail">
        <i class="icon-mail-reply-all icon-2x"></i>
        <span>Gửi email</span>
    </a>

    <a class="quick-btn" href="~/Report">
        <i class="icon-external-link icon-2x"></i>
        <span>Báo cáo</span>
    </a>
</div>
<hr/>
